ul {
	margin: 0;			/* 清除浏览器为ul自动添加的样式 */
	padding: 0;
}
li {	
	/* 修改列表项前的提示符号 */
	/* list-style: disc;	圆饼 */
	/* list-style: decimal;		提示符号是：数字 */
	/* list-style: circle;		圆圈 */
	/* list-style: lower-alpha;		小写字母 */
	/* list-style: upper-alpha;		大写字母 */
	/* list-style: upper-roman;		大写罗马字母 */
	/* list-style: none; */		/* 取消提示符号 */
	list-style: none;		/* 清除列表项前的提示符号 */
}
a{
	text-decoration: none;
}